## Attendance Data Cleaning

* NBA Attendance data was copied by year into spreadsheets in an Excel file - attendance_data. 
* Using Excel, the data was separated into columns (attendance_data_col) for creating yearly csv files. The yearly data was combined in to one csv for grouping by team and year.
* This dataset only covers regular season attendance.
* The AVG attendance data is based on each team playing 41 games total

In [1]:
#Loading libraries and dependencies
import pandas as pd
import os

In [2]:
#Importing files
attendance_2015 = pd.read_csv("Raw_Data/2015_attendance.csv")
attendance_2016 = pd.read_csv("Raw_Data/2016_attendance.csv")
attendance_2017 = pd.read_csv("Raw_Data/2017_attendance.csv")
attendance_2018 = pd.read_csv("Raw_Data/2018_attendance.csv")
attendance_2019 = pd.read_csv("Raw_Data/2019_attendance.csv")

In [6]:
attendance_2015

                      Team  Home ATT  Home AVG  Road ATT  Road AVG
0            Atlanta Hawks    713909     17412    720873     17582
1           Boston Celtics    721350     17594    727404     17742
2            Brooklyn Nets    698529     17037    739614     18039
3        Charlotte Hornets    704886     17192    723833     17654
4            Chicago Bulls    896525     21866    754592     18405
5      Cleveland Cavaliers    843042     20562    775537     18916
6         Dallas Mavericks    827702     20188    723792     17653
7           Denver Nuggets    602707     14700    714593     17429
8          Detroit Pistons    625917     15266    732519     17866
9    Golden State Warriors    803436     19596    750793     18312
10         Houston Rockets    747412     18230    736761     17970
11          Indiana Pacers    691434     16864    733593     17893
12    Los Angeles Clippers    785892     19168    741245     18079
13      Los Angeles Lakers    768244     18738    732881     17875
14       Memphis Grizzlies    710502     17329    738717     18017
15              Miami Heat    808223     19713    725609     17698
16         Milwaukee Bucks    611226     14908    725841     17703
17  Minnesota Timberwolves    595652     14528    738032     18001
18    New Orleans Pelicans    683757     16677    723265     17641
19         New York Knicks    812292     19812    715966     17463
20   Oklahoma City Thunder    746323     18203    736220     17957
21           Orlando Magic    688194     16785    721024     17586
22      Philadelphia 76ers    571342     13935    724272     17665
23            Phoenix Suns    693862     16923    721033     17586
24  Portland Trail Blazers    801377     19546    723952     17657
25        Sacramento Kings    680049     16587    718130     17515
26       San Antonio Spurs    762855     18606    736866     17972
27         Toronto Raptors    809824     19752    718430     17523
28               Utah Jazz    772059     18831    702545     17135
29      Washington Wizards    747796     18239    748386     18253

In [8]:
#Merging all the years into one datafram based on Team
merge_15_16 = pd.merge(attendance_2015, attendance_2016, on="Team", suffixes=(" 2015", " 2016"), how="outer")
add_2017 = pd.merge(merge_15_16, attendance_2017, on="Team")
add_2018 = pd.merge(add_2017, attendance_2018, on="Team", suffixes=(" 2017", " 2018"), how="outer")
add_2019 = pd.merge(add_2018, attendance_2019, on="Team", how="outer")
#Renaming the columns in the final merge
all_years = add_2019.rename(columns={"Home ATT": "Home ATT 2019",
                           "Home AVG": "Home AVG 2019",
                           "Road ATT": "Road ATT 2019",
                           "Road AVG": "Road AVG 2019",})

In [5]:
#Creating separate data frames for Home and Road Game Attendance
home_attendance= all_years[["Team","Home ATT 2015", "Home AVG 2015", "Home ATT 2016", "Home AVG 2016", "Home ATT 2017", "Home AVG 2017", "Home ATT 2018", "Home AVG 2018", "Home ATT 2019", "Home AVG 2019"]]
road_attendance = all_years[["Team", "Road ATT 2015", "Road AVG 2015", "Road ATT 2016", "Road AVG 2016", "Road ATT 2017", "Road AVG 2017", "Road ATT 2018", "Road AVG 2018", "Road ATT 2019", "Road AVG 2019"]]
#Exporting data to csv files
home_attendance.to_csv("Cleaned_Data/home_attendance.csv", index=False)
road_attendance.to_csv("Cleaned_Data/road_attendance.csv", index=False)