#  Preliminary Plotting

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [58]:
win_data = pd.read_csv("Cleaned_Data/wins_data.csv")
salary_data = pd.read_csv("Cleaned_Data/salary2014-15.csv")
attendance_data = pd.read_csv("Cleaned_Data/home_attendance.csv")

In [59]:
salary_data

   Rank            Player        Salary                  Team Team Code
0     1       Kobe Bryant  $23,500,000     Los Angeles Lakers       LAL
1     2       Joe Johnson  $23,180,790          Brooklyn Nets       BRK
2     3   Carmelo Anthony  $22,458,401        New York Knicks       NYK
3     4  Amare Stoudemire  $21,896,658        New York Knicks       NYK
4     5     Dwight Howard  $21,436,271        Houston Rockets       HOU
5     6        Chris Bosh  $20,644,400             Miami Heat       MIA
6     6      LeBron James  $20,644,400    Cleveland Cavaliers       CLE
7     8        Chris Paul  $20,068,563   Los Angeles Clippers       LAC

In [60]:
attendance_data

,Team,Home ATT 2015,Home AVG 2015,Home ATT 2016,Home AVG 2016,Home ATT 2017,Home AVG 2017,Home ATT 2018,Home AVG 2018,Home ATT 2019,Home AVG 2019
0,Atlanta Hawks,"713,909","17,412","690,150","16,833","654,306","15,959","590,769","14,409","630,440","15,377"
1,Boston Celtics,"721,350","17,594","749,076","18,270","760,690","18,553","763,584","18,624","763,584","18,624"
2,Brooklyn Nets,"698,529","17,037","620,142","15,125","632,608","15,429","639,510","15,598","612,597","14,941"
3,Charlotte Hornets,"704,886","17,192","716,894","17,485","710,643","17,333","671,404","16,376","676,570","16,502"
4,Chicago Bulls,"896,525","21,866","894,659","21,821","888,882","21,680","851,824","20,776","823,475","20,085"
5,Cleveland Cavaliers,"843,042","20,562","843,042","20,562","843,042","20,562","843,042","20,562","793,337","19,350"
6,Dallas Mavericks,"827,702","20,188","825,901","20,144","811,366","19,789","811,453","19,792","820,569","20,014"
7,Denver Nuggets,"602,707","14,700","577,898","14,095","605,585","14,770","702,796","17,141","756,457","18,450"
8,Detroit Pistons,"625,917","15,266","677,138","16,516","655,141","15,979","713,945","17,413","675,963","16,487"
9,Golden State Warriors,"803,436","19,596","803,436","19,596","803,436","19,596","803,436","19,596","803,436","19,596"
10,Houston Rockets,"747,412","18,230","737,244","17,982","695,903","16,973","732,722","17,871","740,392","18,058"
11,Indiana Pacers,"691,434","16,864","690,733","16,847","684,578","16,697","658,119","16,052","689,310","16,812"
12,Los Angeles Clippers,"785,892","19,168","786,910","19,193","782,609","19,088","697,812","17,020","710,327","17,325"
13,Los Angeles Lakers,"768,244","18,738","778,877","18,997","776,917","18,949","776,328","18,935","778,877","18,997"
14,Memphis Grizzlies,"710,502","17,329","701,894","17,119","677,314","16,520","653,863","15,948","638,332","15,569"
15,Miami Heat,"808,223","19,713","809,350","19,740","805,400","19,644","804,910","19,632","805,264","19,641"
16,Milwaukee Bucks,"611,226","14,908","621,808","15,166","648,952","15,828","685,303","16,715","721,692","17,602"
17,Minnesota Timberwolves,"595,652","14,528","581,178","14,175","607,203","14,810","699,308","17,056","627,543","15,306"
18,New Orleans Pelicans,"683,757","16,677","688,549","16,794","663,099","16,173","673,920","16,437","656,183","16,004"
19,New York Knicks,"812,292","19,812","812,292","19,812","810,741","19,774","792,608","19,332","779,087","19,002"
20,Orlando Magic,"688,194","16,785","719,275","17,543","727,875","17,753","734,531","17,915","720,024","17,562"
21,Philadelphia 76ers,"571,342","13,935","610,121","14,881","710,557","17,331","833,503","20,329","838,564","20,453"
22,Phoenix Suns,"693,862","16,923","701,405","17,107","708,639","17,284","690,576","16,843","627,023","15,293"
23,Portland Trail Blazers,"801,377","19,546","794,085","19,368","792,029","19,318","795,328","19,398","799,345","19,496"
24,Sacramento Kings,"680,049","16,587","707,526","17,257","721,928","17,608","719,903","17,559","700,975","17,097"
25,San Antonio Spurs,"762,855","18,606","756,445","18,450","755,347","18,423","754,562","18,404","750,616","18,308"
26,Toronto Raptors,"809,824","19,752","812,863","19,826","813,050","19,830","813,431","19,840","812,822","19,825"
27,Utah Jazz,"772,059","18,831","791,489","19,305","806,142","19,662","734,806","17,922","732,240","17,860"
28,Washington Wizards,"747,796","18,239","725,426","17,693","697,107","17,003","739,302","18,032","716,996","17,488"

In [77]:
#If team name is in the salary list add to plot 
star_team = []
no_star_team = []
star_att15 = []
no_star_att15 = []
# teams with high cost vs teams without
# for team in attendance_data:
#     if team is in salary_data:
#         star_team.append(team)
#         star_year.append(row["Home AVG 2015"])

#Find the teams that have a star(s) and make a list of those teams and the attendenace
for index, row in attendance_data.iterrows():
    for player, team in salary_data.iterrows():
        if (row["Team"] == team["Team"]) & (row["Team"] not in star_team):
            star_team.append(row["Team"])
            star_att15.append(row["Home AVG 2015"])

#Find the teams that have do not have a star(s) and make a list of those teams and the attendenace           
for index, row in attendance_data.iterrows():
    for player, team in salary_data.iterrows():
        if ((row["Team"] != team["Team"]) & (row["Team"] not in no_star_team)):
            no_star_team.append(row["Team"])
            no_star_att15.append(row["Home AVG 2015"])

In [80]:
star_team

['Brooklyn Nets',
 'Cleveland Cavaliers',
 'Houston Rockets',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Miami Heat',
 'New York Knicks']

In [79]:
no_star_team

['Atlanta Hawks',
 'Boston Celtics',
 'Brooklyn Nets',
 'Charlotte Hornets',
 'Chicago Bulls',
 'Cleveland Cavaliers',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Detroit Pistons',
 'Golden State Warriors',
 'Houston Rockets',
 'Indiana Pacers',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Memphis Grizzlies',
 'Miami Heat',
 'Milwaukee Bucks',
 'Minnesota Timberwolves',
 'New Orleans Pelicans',
 'New York Knicks',
 'Orlando Magic',
 'Philadelphia 76ers',
 'Phoenix Suns',
 'Portland Trail Blazers',
 'Sacramento Kings',
 'San Antonio Spurs',
 'Toronto Raptors',
 'Utah Jazz',
 'Washington Wizards']