#  Preliminary Plotting

* It was noted that attendance is difficult to normalize because statudim sizes may differ significantly. In light of that, the average attendance over the 41 regular season games was used.

In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [94]:
#Importing files
salary15_data = pd.read_csv("Cleaned_Data/salary2014-15.csv")
salary16_data = pd.read_csv("Cleaned_Data/salary2015-16.csv")
salary17_data = pd.read_csv("Cleaned_Data/salary2016-17.csv")
salary18_data = pd.read_csv("Cleaned_Data/salary2017-18.csv")
salary19_data = pd.read_csv("Cleaned_Data/salary2018-19.csv")
attendance_2015 = pd.read_csv("Cleaned_Data/2015_attendance.csv")
attendance_2016 = pd.read_csv("Cleaned_Data/2016_attendance.csv")
attendance_2017 = pd.read_csv("Cleaned_Data/2017_attendance.csv")
attendance_2018 = pd.read_csv("Cleaned_Data/2018_attendance.csv")
attendance_2019 = pd.read_csv("Cleaned_Data/2019_attendance.csv")

In [95]:
salary15_data.head()

   Rank            Player        Salary                Team Team Code
0     1       Kobe Bryant  $23,500,000   Los Angeles Lakers       LAL
1     2       Joe Johnson  $23,180,790        Brooklyn Nets       BRK
2     3   Carmelo Anthony  $22,458,401      New York Knicks       NYK
3     4  Amare Stoudemire  $21,896,658      New York Knicks       NYK
4     5     Dwight Howard  $21,436,271      Houston Rockets       HOU

In [96]:
attendance_2015.head()

                Team Home ATT Home AVG Road ATT Road AVG
0      Atlanta Hawks  713,909   17,412  720,873   17,582
1     Boston Celtics  721,350   17,594  727,404   17,742
2      Brooklyn Nets  698,529   17,037  739,614   18,039
3  Charlotte Hornets  704,886   17,192  723,833   17,654
4      Chicago Bulls  896,525   21,866  754,592   18,405

In [98]:
#Creating a function that returns a list of attendance for teams with star players
def stars_attendance(att_data, star_list):
    star_team = []
    star_att = []

    #Find the teams that have a star(s) and make a list of those teams and the attendenace
    for index, row in att_data.iterrows():
        for player, team in star_list.iterrows():
            if (team["Team"] == row["Team"]) & (row["Team"] not in star_team):
                star_team.append(row["Team"])
                star_att.append(row["Home AVG"])
    stars_attendance = pd.DataFrame({'Team':star_team,'Home AVG': star_att})
    return stars_attendance

In [106]:
#Creating a function that returns a list of attendance for teams with no star players
def no_stars_attendance(att_data, star_list):
    star_team = []
    no_star_att = []
    no_star_team = []  
    
    #Make a list of the teams with star players to compare to the list with no star players
    for player, team in star_list.iterrows():
            if team["Team"] not in star_team:
                star_team.append(team["Team"])
              
    #Find the teams that have do not have a star(s) and make a list of those teams and the attendenace           
    for index, row in att_data.iterrows():
        if row["Team"] not in star_team:
            no_star_team.append(row["Team"])
            no_star_att.append(row["Home AVG"])
            
    no_stars_attendance = pd.DataFrame({'Team': no_star_team,'Home AVG': no_star_att})
    return no_stars_attendance

In [109]:
#Creating a list for each year of attendance for teams with star players
stars_attendance_2015 = stars_attendance(attendance_2015, salary15_data)
stars_attendance_2016 = stars_attendance(attendance_2016, salary16_data)
stars_attendance_2017 = stars_attendance(attendance_2017, salary15_data)
stars_attendance_2018 = stars_attendance(attendance_2018, salary18_data)
stars_attendance_2019 = stars_attendance(attendance_2015, salary19_data)

In [110]:
#Creating a list for each year of attendance for teams with no star players
no_stars_attendance_2015 = no_stars_attendance(attendance_2015, salary15_data)
no_stars_attendance_2016 = no_stars_attendance(attendance_2016, salary16_data)
no_stars_attendance_2017 = no_stars_attendance(attendance_2017, salary15_data)
no_stars_attendance_2018 = no_stars_attendance(attendance_2018, salary18_data)
no_stars_attendance_2019 = no_stars_attendance(attendance_2019, salary19_data)