#  Shaping High Paid Player and Attendance Data

In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [100]:
#Importing files
salary15_data = pd.read_csv("Raw_Data/salary2014-15.csv")
salary16_data = pd.read_csv("Raw_Data/salary2015-16.csv")
salary17_data = pd.read_csv("Raw_Data/salary2016-17.csv")
salary18_data = pd.read_csv("Raw_Data/salary2017-18.csv")
salary19_data = pd.read_csv("Raw_Data/salary2018-19.csv")
attendance_2015 = pd.read_csv("Cleaned_Data/2015_attendance.csv")
attendance_2016 = pd.read_csv("Cleaned_Data/2016_attendance.csv")
attendance_2017 = pd.read_csv("Cleaned_Data/2017_attendance.csv")
attendance_2018 = pd.read_csv("Cleaned_Data/2018_attendance.csv")
attendance_2019 = pd.read_csv("Cleaned_Data/2019_attendance.csv")

   Rank            Player        Salary                  Team Team Code  Year
0     1       Kobe Bryant  $23,500,000     Los Angeles Lakers       LAL  2015
1     2       Joe Johnson  $23,180,790          Brooklyn Nets       BRK  2015
2     3   Carmelo Anthony  $22,458,401        New York Knicks       NYK  2015
3     4  Amare Stoudemire  $21,896,658        New York Knicks       NYK  2015
4     5     Dwight Howard  $21,436,271        Houston Rockets       HOU  2015
5     6        Chris Bosh  $20,644,400             Miami Heat       MIA  2015
6     6      LeBron James  $20,644,400    Cleveland Cavaliers       CLE  2015
7     8        Chris Paul  $20,068,563   Los Angeles Clippers       LAC  2015

In [93]:
#Creating a function that returns a list of average attendance for teams with star players
def stars_attendance(att_data, star_list):
    star_team = []
    home_att = []
    road_att = []

    #Find the teams that have a star(s) and make a list of those teams and the attendenace
    for index, row in att_data.iterrows():
        for player, team in star_list.iterrows():
            if (team["Team"] == row["Team"]) & (row["Team"] not in star_team):
                star_team.append(row["Team"])
                home_att.append(row["Home AVG"])
                road_att.append(row["Road AVG"])

    #Make a dataframe and return it to use for plotting   
    stars_attendance = pd.DataFrame({'Team':star_team,'Home AVG': home_att, 'Road AVG': road_att})
    return stars_attendance

In [94]:
#Creating a function that returns a list of average attendance for teams with no star players
def no_stars_attendance(att_data, star_list):
    star_team = []
    home_att = []
    road_att = []
    no_star_team = []
    
    #Make a list of the teams with star players to compare to the list with no star players
    for player, team in star_list.iterrows():
            if team["Team"] not in star_team:
                star_team.append(team["Team"])
              
    #Find the teams that have do not have a star(s) and make a list of those teams and the attendenace           
    for index, row in att_data.iterrows():
        if row["Team"] not in star_team:
            no_star_team.append(row["Team"])
            home_att.append(row["Home AVG"])
            road_att.append(row["Road AVG"])

    #Make a dataframe and return it to use for plotting   
    no_stars_attendance = pd.DataFrame({'Team': no_star_team,'Home AVG': home_att, 'Road AVG': road_att})
    return no_stars_attendance

In [95]:
#Creating a list for each year of average home attendance for teams with star players
stars_attendance_2015 = stars_attendance(attendance_2015, salary15_data)
stars_attendance_2015["Year"]= "2015"
stars_attendance_2016 = stars_attendance(attendance_2016, salary16_data)
stars_attendance_2016["Year"]= "2016"
stars_attendance_2017 = stars_attendance(attendance_2017, salary17_data)
stars_attendance_2017["Year"]= "2017"
stars_attendance_2018 = stars_attendance(attendance_2018, salary18_data)
stars_attendance_2018["Year"]= "2018"
stars_attendance_2019 = stars_attendance(attendance_2019, salary19_data)
stars_attendance_2019["Year"]= "2019"
stars_attendance_2015

                   Team  Home AVG  Road AVG  Year
0         Brooklyn Nets     17037     18039  2015
1   Cleveland Cavaliers     20562     18916  2015
2       Houston Rockets     18230     17970  2015
3  Los Angeles Clippers     19168     18079  2015
4    Los Angeles Lakers     18738     17875  2015
5            Miami Heat     19713     17698  2015
6       New York Knicks     19812     17463  2015

In [96]:
#Creating a list for each year of attendance for teams with no star players
no_stars_attendance_2015 = no_stars_attendance(attendance_2015, salary15_data)
no_stars_attendance_2015["Year"]= "2015"
no_stars_attendance_2016 = no_stars_attendance(attendance_2016, salary16_data)
no_stars_attendance_2016["Year"]= "2016"
no_stars_attendance_2017 = no_stars_attendance(attendance_2017, salary15_data)
no_stars_attendance_2017["Year"]= "2017"
no_stars_attendance_2018 = no_stars_attendance(attendance_2018, salary18_data)
no_stars_attendance_2018["Year"]= "2018"
no_stars_attendance_2019 = no_stars_attendance(attendance_2019, salary19_data)
no_stars_attendance_2019["Year"]= "2019"

In [101]:
#Appending each year of star player team attendance to make a five year list 
year2015_2016 = stars_attendance_2015.append(stars_attendance_2016)
added_2017 = year2015_2016.append(stars_attendance_2017)
added_2018 = added_2017.append(stars_attendance_2018)
star_team_attendance = added_2018.append(stars_attendance_2019)

                    Team  Home AVG  Road AVG  Year
0          Brooklyn Nets     17037     18039  2015
1    Cleveland Cavaliers     20562     18916  2015
2        Houston Rockets     18230     17970  2015
3   Los Angeles Clippers     19168     18079  2015
4     Los Angeles Lakers     18738     17875  2015
..                   ...       ...       ...   ...
19          Phoenix Suns     15293     17983  2019
20     San Antonio Spurs     18308     17382  2019
21       Toronto Raptors     19825     18240  2019
22             Utah Jazz     17860     17517  2019
23    Washington Wizards     17488     17510  2019

[78 rows x 4 columns]

In [98]:
#Appending each year of no star player team attendance to make a five year list 
year2015_2016 = no_stars_attendance_2015.append(no_stars_attendance_2016)
added_2017 = year2015_2016.append(no_stars_attendance_2017)
added_2018 = added_2017.append(no_stars_attendance_2018)
no_star_team_attendance = added_2018.append(no_stars_attendance_2019)

In [99]:
#Exporting data to csv files
star_team_attendance.to_csv("Cleaned_Data/star_team_attendance.csv", index=False, header=True)
no_star_team_attendance.to_csv("Cleaned_Data/no_star_team_attendance.csv", index=False, header=True)