#  Combining Star and Attendance Data

* It was noted that attendance is difficult to normalize because statudim sizes may differ significantly. In light of that, the average attendance over the 41 regular season games was used.

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [45]:
#Importing files
salary15_data = pd.read_csv("Cleaned_Data/salary2014-15.csv")
salary16_data = pd.read_csv("Cleaned_Data/salary2015-16.csv")
salary17_data = pd.read_csv("Cleaned_Data/salary2016-17.csv")
salary18_data = pd.read_csv("Cleaned_Data/salary2017-18.csv")
salary19_data = pd.read_csv("Cleaned_Data/salary2018-19.csv")
attendance_2015 = pd.read_csv("Cleaned_Data/2015_attendance.csv")
attendance_2016 = pd.read_csv("Cleaned_Data/2016_attendance.csv")
attendance_2017 = pd.read_csv("Cleaned_Data/2017_attendance.csv")
attendance_2018 = pd.read_csv("Cleaned_Data/2018_attendance.csv")
attendance_2019 = pd.read_csv("Cleaned_Data/2019_attendance.csv")
home_attendance = pd.read_csv("Cleaned_Data/home_attendance.csv")
road_attendance = pd.read_csv("Cleaned_Data/road_attendance.csv")
all_years_attendance = pd.read_csv("Cleaned_Data/all_years_attendance.csv")

In [46]:
#Creating a function that returns a list of attendance for teams with star players
def stars_attendance(att_data, star_list):
    star_team = []
    star_att = []

    #Find the teams that have a star(s) and make a list of those teams and the attendenace
    for index, row in att_data.iterrows():
        for player, team in star_list.iterrows():
            if (team["Team"] == row["Team"]) & (row["Team"] not in star_team):
                star_team.append(row["Team"])
                star_att.append(row["Home AVG"])
                
    #Make a dataframe and return it to use for plotting   
    stars_attendance = pd.DataFrame({'Team':star_team,'Home AVG': star_att})
    return stars_attendance

In [47]:
#Creating a function that returns a list of attendance for teams with no star players
def no_stars_attendance(att_data, star_list):
    star_team = []
    no_star_att = []
    no_star_team = []
    
    #Make a list of the teams with star players to compare to the list with no star players
    for player, team in star_list.iterrows():
            if team["Team"] not in star_team:
                star_team.append(team["Team"])
              
    #Find the teams that have do not have a star(s) and make a list of those teams and the attendenace           
    for index, row in att_data.iterrows():
        if row["Team"] not in star_team:
            no_star_team.append(row["Team"])
            no_star_att.append(row["Home AVG"])
            
    #Make a dataframe and return it to use for plotting   
    no_stars_attendance = pd.DataFrame({'Team': no_star_team,'Home AVG': no_star_att})
    return no_stars_attendance

In [48]:
#Creating a list for each year of attendance for teams with star players
stars_attendance_2015 = stars_attendance(attendance_2015, salary15_data)
stars_attendance_2015["Year"]= "2015"
stars_attendance_2016 = stars_attendance(attendance_2016, salary16_data)
stars_attendance_2016["Year"]= "2016"
stars_attendance_2017 = stars_attendance(attendance_2017, salary17_data)
stars_attendance_2017["Year"]= "2017"
stars_attendance_2018 = stars_attendance(attendance_2018, salary18_data)
stars_attendance_2018["Year"]= "2018"
stars_attendance_2019 = stars_attendance(attendance_2019, salary19_data)
stars_attendance_2019["Year"]= "2019"
stars_attendance_2015

                   Team  Home AVG  Year
0         Brooklyn Nets     17037  2015
1   Cleveland Cavaliers     20562  2015
2       Houston Rockets     18230  2015
3  Los Angeles Clippers     19168  2015
4    Los Angeles Lakers     18738  2015
5            Miami Heat     19713  2015
6       New York Knicks     19812  2015

In [49]:
#Creating a list for each year of attendance for teams with no star players
no_stars_attendance_2015 = no_stars_attendance(attendance_2015, salary15_data)
no_stars_attendance_2015["Year"]= "2015"
no_stars_attendance_2016 = no_stars_attendance(attendance_2016, salary16_data)
no_stars_attendance_2016["Year"]= "2016"
no_stars_attendance_2017 = no_stars_attendance(attendance_2017, salary15_data)
no_stars_attendance_2017["Year"]= "2017"
no_stars_attendance_2018 = no_stars_attendance(attendance_2018, salary18_data)
no_stars_attendance_2018["Year"]= "2018"
no_stars_attendance_2019 = no_stars_attendance(attendance_2019, salary19_data)
no_stars_attendance_2019["Year"]= "2019"

In [50]:
#Appending each year of star player team attendance to make a five year list 
year2015_2016 = stars_attendance_2015.append(stars_attendance_2016)
added_2017 = year2015_2016.append(stars_attendance_2017)
added_2018 = added_2017.append(stars_attendance_2018)
star_team_attendance = added_2018.append(stars_attendance_2019)

In [51]:
#Appending each year of no star player team attendance to make a five year list 
year2015_2016 = no_stars_attendance_2015.append(no_stars_attendance_2016)
added_2017 = year2015_2016.append(no_stars_attendance_2017)
added_2018 = added_2017.append(no_stars_attendance_2018)
no_star_team_attendance = added_2018.append(no_stars_attendance_2019)
no_star_team_attendance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      83 non-null     object
 1   Home AVG  83 non-null     int64
 2   Year      83 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.6+ KB

In [52]:
#Exporting data to csv files
star_team_attendance.to_csv("Cleaned_Data/star_team_attendance.csv", index=False, header=True)
no_star_team_attendance.to_csv("Cleaned_Data/no_star_team_attendance.csv", index=False, header=True)