# Comparing Star Player Team vs No Star Player Attendance

In [81]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [82]:
#Importing files
star_attendance = pd.read_csv("Cleaned_Data/star_team_attendance.csv")
no_star_attendance = pd.read_csv("Cleaned_Data/no_star_team_attendance.csv")
star_attendance.set_index("Year")
no_star_attendance.set_index("Year")

                        Team  Home AVG
Year
2015           Atlanta Hawks     17412
2015          Boston Celtics     17594
2015       Charlotte Hornets     17192
2015           Chicago Bulls     21866
2015        Dallas Mavericks     20188
...                      ...       ...
2019           Brooklyn Nets     14941
2019         New York Knicks     19002
2019      Philadelphia 76ers     20453
2019  Portland Trail Blazers     19496
2019        Sacramento Kings     17097

[83 rows x 2 columns]

In [83]:
stars_by_year = star_attendance.groupby("Year").mean()
no_stars_by_year = no_star_attendance.groupby("Year").mean()

In [97]:
comparing_attendance = pd.merge(stars_by_year, no_stars_by_year, on = "Year", suffixes= (" Stars", " No Stars"))
comparing_attendance.reset_index()

   Year  Home AVG Stars  Home AVG No Stars
0  2015    19037.142857       17457.695652
1  2016    19048.333333       17355.714286
2  2017    18227.111111       17656.608696
3  2018    18155.950000       17661.100000
4  2019    17873.416667       17727.666667

In [99]:
# plt.bar(comparing_attendance, comparing_attendance["Home AVG Stars", "Home AVG No Stars"], align="center", color="red", width =.5)
# plt.xlim(-1, len(comparing_attendance))
# plt.ylim(500,25000)
# plt.xlabel("Year", fontweight="black") 
# plt.ylabel("Average Fan Attendnace", fontweight="black") 
# plt.title("NBA Regular Season Average Fan Attendnce ", fontweight="black") 
# #Rotation and horizontal alligment of the year labels
# plt.xticks(rotation=30, ha='right')
# # plt.legend()

# # # plt.tight_layout()
# # plt.show()

In [ ]:
years = 5
menMeans = (150*cm, 160*cm, 146*cm, 172*cm, 155*cm)
menStd = (20*cm, 30*cm, 32*cm, 10*cm, 20*cm)

fig, ax = plt.subplots()

ind = np.arange(N)    # the x locations for the groups
width = 0.35         # the width of the bars
p1 = ax.bar(ind, menMeans, width, bottom=0*cm, yerr=menStd)


womenMeans = (145*cm, 149*cm, 172*cm, 165*cm, 200*cm)
womenStd = (30*cm, 25*cm, 20*cm, 31*cm, 22*cm)
p2 = ax.bar(ind + width, womenMeans, width, bottom=0*cm, yerr=womenStd)

ax.set_title('Scores by group and gender')
ax.set_xticks(ind + width / 2)
ax.set_xticklabels(('G1', 'G2', 'G3', 'G4', 'G5'))

ax.legend((p1[0], p2[0]), ('Men', 'Women'))
ax.yaxis.set_units(inch)
ax.autoscale_view()

plt.show()