In [1]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [8]:
#Set paths to CSVs
win_data = pd.read_csv("Cleaned_Data/NBA Team Wins.csv")
salary_data14 = pd.read_csv("Cleaned_Data/salary2014-15.csv")
salary_data15 = pd.read_csv("Cleaned_Data/salary2015-16.csv")
salary_data16 = pd.read_csv("Cleaned_Data/salary2016-17.csv")
salary_data17 = pd.read_csv("Cleaned_Data/salary2017-18.csv")
salary_data18 = pd.read_csv("Cleaned_Data/salary2018-19.csv")
nba_team_names_df = pd.read_csv("Raw_Data/NBA Team Names and codes.xlsx")
nba_team_names_df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

   Rank           Player        Salary                 Team Team Code
0     1      Kobe Bryant  $25,000,000    Los Angeles Lakers       LAL
1     2     LeBron James  $22,970,500   Cleveland Cavaliers       CLE
2     3  Carmelo Anthony  $22,875,000       New York Knicks       NYK
3     4    Dwight Howard  $22,359,364       Houston Rockets       HOU
4     5      Joe Johnson  $22,309,344         Brooklyn Nets       BRK