In [11]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [12]:
#Set paths to CSVs
win_data = pd.read_csv("Cleaned_Data/NBA Team Wins.csv")
salary_data15 = pd.read_csv("Cleaned_Data/salary2014-15.csv")
salary_data16 = pd.read_csv("Cleaned_Data/salary2015-16.csv")
salary_data17 = pd.read_csv("Cleaned_Data/salary2016-17.csv")
salary_data18 = pd.read_csv("Cleaned_Data/salary2017-18.csv")
salary_data19 = pd.read_csv("Cleaned_Data/salary2018-19.csv")
nba_team_names_df = pd.read_csv("Cleaned_Data/NBA Team Names and codes.csv")

In [16]:
#merge all salary dataframes
merge_15_16 = pd.merge(salary_data15, salary_data16, on="Player", suffixes=(" 2015", " 2016"))
# add_2017 = pd.merge(merge_15_16, attendance_2017, on="Team")
# add_2018 = pd.merge(add_2017, attendance_2018, on="Team", suffixes=(" 2017", " 2018"))
# add_2019 = pd.merge(add_2018, attendance_2019, on="Team")
merge_15_16.head()

,Rank 2015,Player,Salary 2015,Team 2015,Team Code 2015,Rank 2016,Salary 2016,Team 2016,Team Code 2016
0,1,Kobe Bryant,"$23,500,000",Los Angeles Lakers,LAL,1,"$25,000,000",Los Angeles Lakers,LAL
1,2,Joe Johnson,"$23,180,790",Brooklyn Nets,BRK,5,"$22,309,344",Brooklyn Nets,BRK
2,3,Carmelo Anthony,"$22,458,401",New York Knicks,NYK,3,"$22,875,000",New York Knicks,NYK
3,5,Dwight Howard,"$21,436,271",Houston Rockets,HOU,4,"$22,359,364",Houston Rockets,HOU
4,6,Chris Bosh,"$20,644,400",Miami Heat,MIA,6,"$22,192,730",Miami Heat,MIA